{
    "prefix": "replace prefix here",
    "logFileName": "log.txt",
    "botName": "replace botname",
    "version": "3.1.0",
    "token": "replace token here",
    "owner": "replace owner here",
    "embedThumbnail": "replace help thumbnail",
    "enableNotifications": true,
    "enableFilter": true,
    "botTitle": "replace help title",
    "errorChannelID": "not required, add ID here for a channel if wanted"
}